
<h2>Nossa Missão na Moda: Elegância Sustentável e Estilo Único</h2>

<div id="txt">
<p>Somos uma equipe apaixonada por moda, dedicada a oferecer uma experiência única de compras. Acreditamos que a moda pode ser uma forma poderosa de expressão pessoal e uma ferramenta para construir um mundo mais sustentável. Em nosso site de roupas, você encontrará uma seleção cuidadosa de peças que refletem nossa visão: roupas elegantes, duráveis e sustentáveis que ajudam você a expressar sua autenticidade. Junte-se a nós nessa jornada e descubra como a moda pode ser uma manifestação de sua individualidade, ao mesmo tempo em que contribui para um planeta mais consciente.</p>
</div>


<div class="container">
    <div class="row">
      <div class="col">
        <img id="sbn" src="assets/img/10.jpg" width="320px">
      </div>
      <div class="col">
        <img id="sbn" src="assets/img/11.jpg" width="320px" height="480px">
      </div>





<h1>Obrigado pela visita!</h1>








