li#inicio:hover{
    color: #EFA92A;
    text-decoration: underline red 2px;
}

li#sobre:hover{
    color: #EFA92A;
    text-decoration: underline red 2px;
}

li#produtos:hover{
    color: #EFA92A;
    text-decoration: underline red 2px;
}

li#contato:hover{
    color: #EFA92A;
    text-decoration: underline red 2px;
}

li#privacy:hover{
    color: #EFA92A;
    text-decoration: underline red 2px;
}

#p{
    width: 100%;
    height: 850px;
    /*background-color: blue;*/
}
#bordap{
    width: 1200px;
    height: 100%;
 /*   border: 1px solid red;*/
    margin: auto;
}

/* Estilo para o footer */
footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 20px; /* Espaçamento interno do footer */
    text-align: center; /* Centralizar o conteúdo do footer */
}

.active{
    font-weight: bold;
}