<br><br>
<h1>Política de Privacidade</h1>
<p>Esta política de privacidade é aplicável em todos os serviços, websites e páginas servidas pelo Seu Estilo.com. Nosso sistema coleta e mantém informações sobre os visitantes (dados através de cookies, tempo e hora de navegação, tipo e versão de sistemas operacionais, navegadores de internet, endereços de IP, etc.) apenas para:
</p>
<ul>
    <li>Produzir estatísticas de utilização de nossos serviços, para que possamos melhora-los de acordo com as preferências dos usuários;</li>
    <li>Exibir publicidade direcionada, ou seja, propagandas que tenham mais chances do visitante se interessar.</li>
</ul>
<p>O Seu Estilo possui parceria com o Portal R7, que utiliza "cookies" essenciais e outras tecnologias semelhantes para a coleta e processamento de dados, os quais são feitos nos termos da política de privacidade do Portal R7.
</p>
<h2>Informações pessoais</h2>
<p>O Seu Estilo pode coletar dados pessoais (nome e e-mail, por exemplo) de usuários que optarem por fazerem contribuições pontuais ou mensais utilizando a plataforma "Subscribe with Google". Tais informações não serão repassadas a terceiros, exceto quando houver obrigação legal ou judicial.
</p>
<p>Quando o visitante preenche o formulário de contato, as informações fornecidas serão utilizadas apenas para realizar o atendimento ao usuário.
</p>
<h2>Aviso Legal</h2>
<p>A empresa reserva o direito de explorar comercialmente todo o conteúdo publicado em seus websites, por meio de publicidade inserida em locais estrategicamente escolhidos nas páginas.
</p>
<h2>Links externos</h2>
<p>O Seu Estilo possui diversos links para páginas externas do nosso domínio, como referências para textos e arquivos utilizados em nossas pesquisas. Não somos responsáveis pelo conteúdo disponibilizado nessas páginas externas, nem pelas consequências de serem acessadas.
</p>
<h2>Validade desta política</h2>
<p>Ao acessar as páginas do InfoEscola você concorda com o uso que fazemos dos dados coletados.</p>

<p>O Seu Estilo reserva o direito de alterar esta política de privacidade a qualquer momento.</p>